.live-heading {
 text-align: center;
 animation-name: liveHeading;
 height: 43px;
 font-size: 12px;
 animation-duration: 3s;
 animation-iteration-count: infinite;
 box-sizing: border-box;
 margin: 0;
 padding-top: 20px;
}
@keyframes liveHeading {
 from { font-size: 12px }
 to {font-size: 24px}
}
ul {
 display: flex;
 flex-wrap: wrap;
 list-style-type: none;
 padding: 0;
 margin-left: 50px;
 margin-right: 200px;
 margin-top: 42px;
 gap: 40px;
}
ul li {
 flex: 0 0 28.3333%;
 height: 188px;
 padding: 20px;
 display: flex;
 justify-content: center;
}
ul li:nth-child(1) {
 background-color: #007af5;
}
ul li:nth-child(1):hover {
 cursor: pointer;
 transform: scale3d(1.1, 1.1, 1.1);
}
ul li:nth-child(2) {
 background-color: #009c22;
}
ul li:nth-child(2):hover {
 cursor: pointer;
 transform: scale3d(1.1, 1.1, 1.1);
}
ul li:nth-child(3) {
 background-color: #b4ba00;
}
ul li:nth-child(3):hover {
 cursor: pointer;
 transform: scale3d(1.1, 1.1, 1.1);
}
ul li:nth-child(4) {
 background-color: #eb7405;
}
ul li:nth-child(4):hover {
 cursor: pointer;
 transform: scale3d(1.1, 1.1, 1.1);
}
ul li:nth-child(5) {
 background-color: #0053a6;
}
ul li:nth-child(5):hover {
 cursor: pointer;
 transform: scale3d(1.1, 1.1, 1.1);
}
ul li:nth-child(6) {
 background-color: #de9800;
}
ul li:nth-child(6):hover {
 cursor: pointer;
 transform: scale3d(1.1, 1.1, 1.1);
}
p {
 margin: 0;
}
.card_name span:first-child {
 font-size: 12px;
}
.card_name span:last-child {
 font-size: 30px;
 font-weight: 600;
}
.card_total {
 font-weight: 700;
 font-size: 62px;
 letter-spacing: 2px;
}